@font-face {
    font-family: Haroopath;
    src: url(../fonts/haroopath/Haroopath.otf);
}

@font-face {
    font-family: Harmony;
    src: url(../fonts/harmony/Harmony.otf);
}

@font-face {
    font-family: r-char;
    src: url(../fonts/r_charlotte/Rellyan\ Charlotte.ttf);
}

.justify-content-center {
    width: 100%;
}

.App {
    font-family: sans-serif;
    text-align: center;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: 46%;
    will-change: opacity;
}

.slider::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        140deg,
        #ffffff,
        #c5c5c5,
        #0e86aa,
        #0e86aa
    );
    opacity: 0.4;
}

.nav-img {
    opacity: 1 !important;
    position: relative;
}
