.home {
    position: relative;
    height: 100vh;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home h3 span {
    font-size: 16px;
    font-family: lato, sans-serif;
}

.home h3 {
    font-family: r-char;
    font-size: 65px;
    line-height: 1.5em;
    font-weight: 700;
}

@media (max-width: 992px) {
    .home h3 {
        font-family: r-char;
        font-size: 45px;
        line-height: 2em;
    }
}
