.location {
    background-image: url("../images/outdoor.jpg");
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
    background-position: center;
    background-size: cover;
}

.location::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        140deg,
        #ffffff,
        #c5c5c5,
        #0e86aa,
        #0e86aa
    );
    opacity: 0.4;
}

.content {
    position: relative;
    height: 100vh;
    display: grid;
    place-content: center;
}
