.digivit-nav {
    position: absolute;
    z-index: 2;
}

.digivit-nav .header-logo {
    padding-top: 30px;
}

.digivit-nav .header-logo a > img {
    width: 20%;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    font-family: lato, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(0, 0, 0, 1);
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    font-family: lato, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
    color: rgba(0, 0, 0, 1);
    font-weight: 700;
    border-bottom: 4px solid rgba(190, 153, 115, 0.7);
}

@media (max-width: 992px) {
    .navbar-expand .navbar-nav .nav-link {
        padding-right: 2px;
        padding-left: 2px;
    }

    .nav-link {
        font-size: 12px;
        font-weight: 400;
    }

    .digivit-nav .header-logo a > img {
        width: 50%;
    }
}

@media (max-width: 320px) {
    .navbar-expand .navbar-nav .nav-link {
        padding-right: 1px;
        padding-left: 1px;
    }

    .nav-link {
        font-size: 9px;
        font-weight: 400;
    }
}
